@import "tailwindcss";

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px !important;
  background: #000 !important;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: 0px solid;
  background-color: transparent;
}

p {
  margin: 0px;
}

.cargando {
  position: relative;
}

.cargando::after {
  content: "";
  animation: cargando 1.5s linear infinite;
}

@keyframes cargando {
  0% {
    content: "";
  }
  20% {
    content: ".";
  }
  30% {
    content: "..";
  }
  50% {
    content: "...";
  }
  60% {
    content: "..";
  }
  70% {
    content: ".";
  }
  100% {
    content: "";
  }
}

/*Fondos*/
.bg-negro {
  background: #000;
}

.bg-negro2 {
  background: #1e1e1e;
}

.bg-blanco {
  background-color: #fff;
}

.bg-blanco-suave {
  background-color: #f5f5f5;
}

.bg-gris {
  background-color: #292929;
}

.bg-gris-suave {
  background-color: #333;
}

.bg-rojo {
  background-color: #b60000;
}

.bg-rojo2 {
  background-color: #880808;
}

.bg-naranja {
  background-color: #ff9800;
}

.bg-amarillo {
  background-color: #ffc107;
}

.bg-verde {
  background-color: #00e676;
}

.bg-morado {
  background-color: #6f2bcd;
}
/*END::Fondos*/

/*Colores*/
.negro {
  color: #000;
}

.negro2 {
  color: #1e1e1e;
}

.blanco {
  color: #fff;
}

.blanco-suave {
  color: #f5f5f5;
}

.gris {
  color: #292929;
}

.gris-suave {
  color: #333;
}

.rojo {
  color: #b60000;
}

.rojo2 {
  color: #880808;
}

.naranja {
  color: #ff9800;
}

.amarillo {
  color: #ffc107;
}

.verde {
  color: #00e676;
}

.morado {
  color: #6f2bcd;
}
/*END::Colores*/

/*Textos*/
.poppins-50 {
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
}

.poppins-36 {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
}

.poppins-32 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.poppins-26 {
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.poppins-17 {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.poppins-16 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.poppins-15 {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.poppins-14 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.poppins-13 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}

.poppins-10 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

/*END::Textos*/

/*ANTD*/
.ant-drawer-header {
  display: none !important;
}
/*END::ANTD*/